---
import { getTranslation } from "../i18n";

const today = new Date();
---

<footer>
	<div>
		<div class="tip" set:html={getTranslation("footerMdTip")}></div>
	</div>
</footer>
<style>
	footer {
		color: rgb(var(--gray--value));
		text-align: center;
	}
	.social-links {
		display: flex;
		justify-content: center;
		gap: 1em;
		margin-top: 1em;
	}
	.social-links a {
		text-decoration: none;
		color: rgb(var(--gray));
	}
	.social-links a:hover {
		color: rgb(var(--gray-dark));
	}
</style>
